.scene {
    height: 100%;
    width: 100%;
    border: none;
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
    /*background: rgb(0, 0, 0);*/
}

.script-content {
    display: inline-block;
    overflow-y: scroll;
}

.scene textarea {
    color: white;
    background-color: black;
    border: 0px;
    transition: transform 0.5s;
    box-sizing: border-box;
    resize:none;
}
.scene textarea:focus{
    outline: 0;
}
.scene .mobile-view {
    color: white;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

