<select class="script-control" id="script-control">
    <optgroup label="Serif Fonts">
        <option>Garamond</option>
        <option>Georgia</option>
        <option>Palatino</option>
        <option>Times New Roman</option>
        <option>Times</option>
        <option>Bookman</option>
    </optgroup>
    <optgroup label="Sans-Serif Fonts">
        <option>Arial</option>
        <option>Arial Black</option>
        <option>Comic Sans MS</option>
        <option>Impact</option>
        <option>Lucida Grande</option>
        <option>Tahoma</option>
        <option>Trebuchet MS</option>
        <option>Helvetica</option>
        <option>Verdana</option>
    </optgroup>
    <optgroup label="Monospace Fonts">
        <option>Courier</option>
        <option>Courier New</option>
    </optgroup>
</select>
