.scene {
    height: 100%;
    width: 100%;
    border: none;
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
    background: rgb(0, 0, 0);
}


.scene textarea {
    /*color: white;*/
    /*background-color: black;*/
    border: 0px;
    transition: transform 0.5s;

}
.scene textarea:focus{
    outline: 0;
}
.scene .mobile-view {
    color: white;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flipx {
    /*-moz-transform: scaleX(-1);*/
    /*transform: scaleX(-1);*/

    transform: rotateY(180deg);
}

.flipy {
    /*-moz-transform:scaleY(-1);*/
    /*transform: scaleY(-1);*/
    transform: rotateX(180deg);
}


.flipz {
    transform: rotateZ(180deg);
}